@use "../utils/mixins" as *;
@use "../utils/functions" as *;

.layout {
  margin-inline: auto;
  width: 100%;
  padding-inline: fluid(16);

  @include query(md) {
    max-width: calc(100% - #{fluid(120)});
  }

  @include query(lg) {
    padding-inline: fluid(0);
  }

  &--sm {
    @include query(lg) {
      max-width: fluid(840);
      width: calc(100% - #{fluid(40)});
    }
  }

  &--md {
    @include query(lg) {
      max-width: fluid(957);
      width: calc(100% - #{fluid(40)});
    }
  }

  &--lg {
    @include query(lg) {
      max-width: fluid(1036);
      width: calc(100% - #{fluid(40)});
    }
  }

  &--xl {
    @include query(lg) {
      max-width: fluid(1297);
      width: calc(100% - #{fluid(85)});
    }
  }
}